Source: libdir-self-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>
Standards-Version: 3.9.4
Homepage: https://metacpan.org/release/Dir-Self
Vcs-Git: https://anonscm.debian.org/git/pkg-perl/packages/libdir-self-perl.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-perl/packages/libdir-self-perl.git
Testsuite: autopkgtest-pkg-perl

Package: libdir-self-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: module providing a __DIR__ constant for the directory of the source file
 Perl has two pseudo-constants describing the current location in your source
 code, __FILE__ and __LINE__. Dir::Self adds __DIR__, which expands to the
 directory your source file is in, as an absolute pathname.
 .
 This is useful if your code wants to access files in the same directory, like
 helper modules or configuration data. This is a bit like FindBin except it's
 not limited to the main program, i.e. you can also use it in modules. And it
 actually works.
